<form (ngSubmit)="addTodo()" [formGroup]="form">
  <div class="row mb-3">
    <div class="col-sm-12">
      <input
        type="text"
        class="form-control"
        id="inputTodo"
        formControlName="todoText"
        placeholder="Washing car..."
      />
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="loading">
    <ng-template #showSpinner>
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      >
        <span class="visually-hidden">Loading...</span>
      </span></ng-template
    >
    <span *ngIf="!loading; else showSpinner">Add Todo</span>
  </button>
</form>
